.box{
    border: 3px solid;
    margin: 0 auto;
    width: 60vw;
    height: 50vh;
    margin-top: 80px;
    padding: 3%;

}
.create-form{
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.create-form>div{
    margin: 15px;
}